# Ex1 - Filtrar y ordenar datos


### Paso 1. Importar las bibliotecas necesarias

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Paso 2. Importa el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) y asígnalos a una variable llamada chipo.

In [22]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t")

In [23]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Paso 3. Nombre del producto de valor máximo

In [24]:
chipo2 = chipo.copy()
chipo2["item_price"] = chipo2["item_price"].str.replace("$", "", regex=False)
chipo2["item_price"] = chipo2["item_price"].str.replace(" ", "", regex=False)
chipo2["item_price"] = chipo2["item_price"].astype(float)

In [25]:
chipo["item_price"].dtype

dtype('O')

In [26]:
chipo2["item_price"].dtype

dtype('float64')

In [27]:
chipo2.loc[chipo2["item_price"] == chipo2["item_price"].max(), : ]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Paso 4. ¿Cuántos productos cuestan más de 10 dólares?

In [30]:
chipo2.loc[chipo2["item_price"] > 10, ["item_name"]].count()

item_name    1130
dtype: int64

Extra: Cuántos pedidos se han hecho con un producto de más de 10$

In [37]:
chipo2.loc[chipo2["item_price"] > 10, "order_id"].nunique()

863

### Paso 5. ¿Cuál es el precio de cada artículo? Obtenga sólo item_name y unit_price

### Paso 6. Ordenar por el nombre del artículo

### Paso 7. ¿Cuál fue la cantidad del artículo más caro pedido? 2 formas

## Paso 7.1: Cantidad de ARTICULOS del pedido MAS CARO

### Paso 8. ¿Cuántas veces se pidió una Veggie Salad Bowl?

### Paso 9. ¿Cuántas veces pidió alguien más de un Canned Soda?

Extra

In [ ]:
# 1º Filtrar con una máscara: chipo[chipo["item_name"] == "Canned Soda"]
# 2º Agrupar las orders y canned sodas sumando las cantitades totales .groupby(['order_id','item_name'], as_index= False)
# 3º Quiero sumar solo la columna de quantity [['quantity']].sum()